<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
<div class="wrapper">

    <h2 class="footer-heading">Hommy Rosado Blog</h2>

    <div class="footer-col-wrapper">
      <!-- <div class="footer-col footer-col-1">
			<ul class="contact-list" >
				<li class="p-name">Hommy Rosado Blog</li>
				<li><a class="u-email" href="mailto:hommy.rosado@outlook.com">hommy.rosado@outlook.com</a></li>

                     
          <ul class="social-media-list">
        <li class="social-media-list" style="li{margin: 0; padding: 0;}">
          <a href="https://github.com/hommyrosado">
          <svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> 
          <span class="username">hommyrosado</span></a>
        </li>
        <li class="social-media-list" style="li{margin: 0; padding: 0;}"><a href="https://www.twitter.com/realhommyrosado">
            <svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> 
            <span class="username">RealHommyRosado</span></a>
        </li>
        </ul>
        </div>-->

      <div class="footer-col footer-col-1">
<ul class="social-media-list">
  				<li class="social-media-list">
            <a class="u-email" href="mailto:hommy.rosado@outlook.com">
            <svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#envelope"></use></svg>
            hommy.rosado@outlook.com</a>
          </li>
        <li class="social-media-list" >
          <a href="https://github.com/hommyrosado">
          <svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> 
          <span class="username">hommyrosado</span></a>
        </li>
        <li class="social-media-list" ><a href="https://www.twitter.com/realhommyrosado">
            <svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#x-twitter"></use></svg> 
            <span class="username">RealHommyRosado</span></a>
        </li>
        </ul>
      </div>
    </div>

  </div>

</footer>
